<div class="login-container bg-light">
  <div class="login-box">
    <h1 translate>APP_NAME</h1>
    <div>
      <h6 class="d-inline-block">v{{version}}</h6>
      <div class="d-inline-block ml-3" ngbDropdown>
        <div ngbDropdownMenu aria-labelledby="language-dropdown">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" novalidate>
            <div class="alert alert-danger" *ngFor="let error of errors" [hidden]="!error || isLoading" translate>
              Error.{{error}}
            </div>

            <div class="form-group">
              <label class="d-block">
                <input type="text" class="form-control" formControlName="email" autocomplete="email"
                       [placeholder]="'Email'" required/>
                <span hidden translate>Email</span>
                <small [hidden]="resetPasswordForm.controls.email.valid || resetPasswordForm.controls.email.untouched"
                       class="text-danger" translate>
                  Email is required
                </small>
              </label>

              <label class="d-block">
                <input type="password" class="form-control" formControlName="newPassword"
                       [placeholder]="'New Password'" required/>
                <span hidden translate>New password</span>
                <small [hidden]="resetPasswordForm.controls.newPassword.valid || resetPasswordForm.controls.newPassword.untouched"
                       class="text-danger" translate>
                    Password is required
                </small>
              </label>

              <label class="d-block">
                <input type="password" class="form-control" formControlName="confirmNewPassword"
                       [placeholder]="'Confirm new password'" required/>
                <span hidden translate>Confirm new password</span>
                <small [hidden]="resetPasswordForm.controls.confirmNewPassword.valid || resetPasswordForm.controls.confirmNewPassword.untouched"
                       class="text-danger" translate>
                  Password confirmation is required
                </small>
              </label>
            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="resetPasswordForm.invalid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Reset Password</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
